::-webkit-scrollbar {
	width: 10px;
}
::-webkit-scrollbar-track {
	background: rgba(200, 200, 200, 0.6);
}
::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.6);
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.8);
}
:root {
	--cta: #007aff;
	--none: rgba(0, 0, 0, 0);
	--primary: #000;
	--secondary: rgba(0, 0, 0, 0.8);
	--other: rgba(0, 0, 0, 0.6);
	--bg-primary: #fff;
	--bg-secondary: rgba(255, 255, 255, 0.8);
	--shadow-primary: rgba(0, 0, 0, 0.1);
	--shadow-secondary: rgba(150, 150, 150, 0.1);
}
html[data-theme="dark"] {
	--primary: #fff;
	--secondary: rgba(250, 250, 255, 0.8);
	--other: rgba(250, 250, 255, 0.6);
	--bg-primary: #111;
	--bg-secondary: rgba(0, 0, 0, 0.8);
	--shadow-primary: rgba(100, 100, 100, 0.4);
	--shadow-secondary: rgba(50, 50, 50, 0.2);
}
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}
body {
	min-width: 395px;
	font-family: "Poppins", sans-serif;
	color: var(--primary);
	background: var(--bg-primary);
}
/* HTML Tag (Sorted by A-Z) */
a {
	color: var(--primary);
	text-decoration: none;
}
img {
	user-select: none;
	-webkit-user-drag: none;
}
nav {
	display: inline-flex;
	position: fixed;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	padding: 16px 6%;
	background-color: var(--bg-primary);
	text-align: center;
	align-items: center;
	color: var(--secondary);
	box-shadow: 0 2px 2px var(--shadow-secondary),
		0 6px 6px var(--shadow-secondary);
	z-index: 9;
}
nav h2 {
	font-size: 24px;
}
nav ul {
	display: flex;
	list-style: none;
	align-items: center;
	font-size: 18px;
	font-weight: 200;
	justify-content: space-between;
	width: 45%;
}
nav ul li a {
	color: var(--secondary);
}
nav ul li a:hover {
	color: var(--cta);
}
section {
	margin: 0 auto;
	padding: 6% 8%;
	box-shadow: 0 2px 2px var(--shadow-secondary),
		0 6px 6px var(--shadow-secondary);
	transition: all 300ms;
}
/* Loader */
#load {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	display: flex;
	color: var(--bg-primary);
	justify-content: center;
	align-items: center;
	background-color: var(--cta);
	z-index: 99;
}
#load svg {
	width: 10%;
	filter: invert(100%);
}
/* Home Section (Sorted by Used First) */
#home {
	padding: 8%;
}
#home h2 {
	color: var(--secondary);
	font-weight: 500;
}
#home-main {
	margin: 10% 6%;
	width: 70%;
}
#home-main h1 {
	margin-bottom: 8%;
	font-size: 72px;
	line-height: 90px;
	animation: left-right 1200ms;
}
#home-main h1 b {
	color: var(--bg-primary);
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
		1px 1px 0 #000;
	-webkit-text-stroke: 2px var(--primary);
}
#scroll-down {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
	color: var(--secondary);
	animation: up-down-static 1500ms infinite;
}
#scroll-down p {
	letter-spacing: 5px;
	margin-right: 10px;
}
#scroll-outer {
	height: 25px;
	fill: none;
	stroke: var(--secondary);
	stroke-width: 3px;
}
#scroll-inner {
	margin-left: -8px;
	height: 10px;
	width: 2px;
	fill: var(--secondary);
	animation: up-down-static 1500ms infinite;
}
/* About Section (Sorted by Used First) */

/* Contact Section (Sorted by Used First) */
#contact {
	margin-top: -6%;
	padding-bottom: 2%;
	background: var(--bg-primary);
	border-radius: 40px 40px 0 0;
	box-shadow: 0 -2px 2px var(--shadow-primary),
		inset 0px 0px 10px var(--shadow-primary);
}
#contact .row {
	margin-top: 10%;
	margin-bottom: 10%;
}
#contact-main .col-text {
	margin-bottom: 8%;
}
/* CSS Class (Sorted by A-Z) */
.about-text {
	margin-bottom: 26%;
}
.active {
	font-weight: 500;
	color: var(--cta);
}
.block-sm {
	display: inline-flex;
	align-items: center;
}
.container {
	margin-left: 8%;
	margin-right: 8%;
}
.col-2 {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 20%;
	animation: down-up 800ms;
}
.col-4 {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 40%;
	animation: down-up 800ms;
}
.col-6 {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 60%;
	animation: down-up 800ms;
}
.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
	animation: down-up 800ms;
}
.col-text h2 {
	margin-bottom: 15px;
	font-size: 42px;
	line-height: 50px;
	color: var(--primary);
}
.col-text h3 {
	margin-bottom: 5px;
	font-size: 28px;
	color: var(--secondary);
}
.col-text p,
footer {
	font-size: 22px;
	color: var(--secondary);
}
.col-img img {
	width: 100%;
	border-radius: 14px;
	box-shadow: 0 0px 6px var(--shadow-primary),
		inset 0px 0px 12px var(--shadow-primary);
	transition: all 1500ms;
}
.col-img img:hover {
	box-shadow: 0 0px 1px var(--shadow-primary), 0 1px 1px var(--shadow-primary),
		0 2px 2px var(--shadow-primary), 0 4px 4px var(--shadow-primary),
		0 8px 8px var(--shadow-primary);
	transform: scale(1.05) translateY(-5%);
}
.cta {
	height: 60px;
	width: 155px;
	background: var(--none);
	color: var(--cta);
	fill: var(--cta);
	font-size: 100%;
	font-weight: 700;
	border: 3px solid var(--cta);
	border-radius: 20px;
	cursor: pointer;
	transition: all 300ms;
}
.cta:hover {
	background: var(--cta);
	color: #fff;
	fill: #fff;
	box-shadow: 0 1px 1px var(--shadow-primary), 0 2px 2px var(--shadow-primary),
		0 4px 4px var(--shadow-primary), 0 8px 8px var(--shadow-primary);
	transform: scale(1.1) translateY(-5px);
}
.cta:active {
	box-shadow: none;
	transform: scale(0.8) translateY(0);
}
.cta-with-icon {
	display: inline-flex;
	align-items: center;
}
.cta .cta-with-icon p {
	font-size: 20px;
}
.cta-icon {
	height: 24px;
	width: auto;
}
.justify-content-start {
	justify-content: start !important;
}
.links {
	display: flex;
	width: 60%;
	align-items: center;
	justify-content: space-between;
	animation: left-right 1000ms;
}
.links-icon svg {
	height: 35px;
	width: 35px;
	fill: var(--secondary);
	transition: all 300ms;
}
.links-icon:hover {
	opacity: 100%;
	fill: var(--cta);
	filter: drop-shadow(0 6px 6px var(--shadow-secondary))
		drop-shadow(0 8px 8px var(--shadow-secondary))
		drop-shadow(0 10px 10px var(--shadow-secondary))
		drop-shadow(0 12px 12px var(--shadow-secondary));
	transform: scale(1.1) translateY(-5px);
}
.links-icon:active {
	opacity: 100%;
	filter: none;
	transform: scale(0.8) translateY(0);
}
.mb-0 {
	margin-bottom: 0 !important;
}
.other-links {
	display: flex;
	font-size: 18px;
	font-weight: 500;
	color: var(--other);
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	border: 2px solid var(--other);
	border-radius: 36px;
	padding: 18px 36px;
	width: fit-content;
	transition: all 300ms;
}
.other-links:hover {
	background: var(--cta);
	color: var(--bg-primary);
	background-color: var(--primary);
	border: 2px solid var(--primary);
	box-shadow: 0 1px 1px var(--shadow-primary), 0 2px 2px var(--shadow-primary),
		0 4px 4px var(--shadow-primary), 0 8px 8px var(--shadow-primary);
	transform: scale(1.1) translateY(-5px);
}
.readmore-links {
	color: var(--primary);
	text-decoration: underline;
}
.readmore-links:hover {
	color: var(--secondary);
	text-decoration: none;
}
.row {
	margin: 14% -15px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	gap: 6%;
	justify-content: center;
	align-items: center;
}
.section-title {
	margin-bottom: -2%;
	animation: left-right 600ms;
}
.section-title h1 {
	margin-right: 15px;
	font-size: 42px;
	font-weight: 600;
}
.social-media-cta {
	display: flex;
	width: 100%;
	margin-left: 10%;
	align-items: center;
	justify-content: space-between;
}
/* .switch {
	margin-top: 10%;
	position: relative;
	display: inline-block;
	border: 2px solid var(--secondary);
	border-radius: 34px;
	width: 60px;
	height: 24px;
} */
.switch {
	position: relative;
	display: inline-block;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 34px;
	background-color: var(--shadow-primary);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 4px;
	bottom: 4px;
	border-radius: 50%;
	background-color: var(--secondary);
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
input:checked + .slider:before {
	-webkit-transform: translateX(35px);
	-ms-transform: translateX(35px);
	transform: translateX(35px);
}
/* Object Section (Sorted by A-Z) */
.line {
	width: 50px;
	height: 4px;
	border-radius: 15px;
	background: var(--primary);
}
#object {
	z-index: -1;
}
#obj-1 {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: -1;
}
#obj-1 img {
	height: 20vh;
	opacity: 60%;
}
#obj-2 {
	position: absolute;
	left: -9%;
	bottom: 0;
	z-index: -1;
}
#obj-2 img {
	height: 65vh;
	opacity: 90%;
	filter: blur(7px);
}
#obj-3 {
	position: absolute;
	top: 5%;
	right: 0;
	z-index: -1;
}
#obj-3 img {
	height: 22vh;
	opacity: 70%;
	filter: blur(3px);
}
#obj-4 {
	position: absolute;
	top: 24%;
	left: 26%;
	z-index: -1;
	animation: obj-4 10s infinite;
}
#obj-4 img {
	height: 8vh;
	opacity: 90%;
	filter: blur(1.5px);
}
#obj-5 {
	position: absolute;
	top: 45%;
	left: 85%;
	z-index: -1;
	animation: obj-5 15s infinite;
}
#obj-5 img {
	height: 10vh;
	opacity: 60%;
	filter: blur(1px);
}
/* Animation Section (Sorted by Usage) */
@keyframes up-down {
	0% {
		opacity: 0;
		transform: translateY(-100%) scale(0.8);
	}
	100% {
		opacity: 100%;
		transform: translateY(0) scale(1);
	}
}
@keyframes down-up {
	0% {
		opacity: 0;
		transform: translateY(100%) scale(0.8);
	}
	100% {
		opacity: 100%;
		transform: translateY(0) scale(1);
	}
}
@keyframes left-right {
	0% {
		opacity: 0;
		transform: translateX(-100%) scale(0.8);
	}
	100% {
		opacity: 100%;
		transform: translateX(0) scale(1);
	}
}
@keyframes right-left {
	0% {
		opacity: 0%;
		transform: translateX(100%) scale(0.8);
	}
	100% {
		opacity: 100%;
		transform: translateX(0) scale(1);
	}
}
@keyframes up-down-static {
	0%,
	100% {
		transform: translateY(-25%);
	}
	50% {
		transform: translateY(25%);
	}
}
@keyframes pop-up {
	0% {
		opacity: 0%;
		transform: scale(0);
	}
	100% {
		opacity: 100%;
		transform: scale(1);
	}
}
@keyframes wipe-out-left {
	from {
		clip-path: inset(0 0 0 0);
	}
	to {
		clip-path: inset(0 100% 0 0);
	}
}
@keyframes obj-4 {
	50% {
		transform: translate(210%, -100%) rotateZ(180deg);
	}
}
@keyframes obj-5 {
	50% {
		transform: translate(-230%, -250%) rotateZ(-180deg);
	}
}

@media (max-width: 1199.98px) {
	/* HTML Tag (Sorted by A-Z) */
	nav ul {
		width: 55%;
	}
	section {
		padding: 10% 8%;
	}
	/* Home Section (Sorted by Used First) */
	#home-main {
		width: 80%;
	}
	#home-main h1 b {
		color: var(--bg-primary);
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
			1px 1px 0 #000;
		-webkit-text-stroke: 2px var(--primary);
	}
	#scroll-down p {
		font-size: 18px;
	}
	/* About Section (Sorted by Used First) */

	/* Contact Section (Sorted by Used First) */
	#contact {
		padding-bottom: 4%;
	}
	#contact-main .col-6 {
		max-width: 80%;
	}
	/* CSS Class (Sorted by A-Z) */
	.container {
		margin-left: 6%;
		margin-right: 6%;
	}
	.col-4 {
		max-width: 100%;
	}
	.col-text h2 {
		margin-bottom: 15px;
		font-size: 42px;
		line-height: 50px;
		color: var(--primary);
	}
	.col-text h3 {
		margin-bottom: 5px;
		font-size: 28px;
		color: var(--secondary);
	}
	.cta {
		height: 65px;
		width: 165px;
	}
	.cta .cta-with-icon p {
		font-size: 24px;
	}
	.links {
		width: 80%;
	}
	.links .links-icon svg {
		height: 45px;
		width: 45px;
	}
}

@media only screen and (max-width: 991.98px) {
	/* Adjust style for large screen layout */
	/* HTML Tag (Sorted by A-Z) */
	nav ul {
		display: none;
	}
	section {
		padding: 14%;
	}
	/* Home Section (Sorted by Used First) */
	#home-main {
		margin: 14% 0;
		width: fit-content;
	}
	#home-main h1 b {
		color: var(--bg-primary);
		text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
			1px 1px 0 #000;
		-webkit-text-stroke: 2px var(--primary);
	}
	#scroll-down p {
		font-size: 18px;
	}
	/* About Section (Sorted by Used First) */
	/* Contact Section (Sorted by Used First) */
	#contact {
		padding: 8%;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	#contact-main {
		margin-left: auto;
		margin-right: auto;
	}
	#contact-main .links {
		margin-left: auto;
		margin-right: auto;
	}
	#contact-main .justify-content-start {
		justify-content: center !important;
	}
	/* CSS Class (Sorted by A-Z) */
	.col-text h2 {
		margin-bottom: 15px;
		font-size: 42px;
	}
	.col-text h3 {
		margin-bottom: 5px;
		font-size: 28px;
	}
	.cta {
		height: 65px;
		width: 165px;
	}
	.cta .cta-with-icon p {
		font-size: 24px;
	}
	.links {
		width: 90%;
	}
	.links .links-icon svg {
		height: 45px;
		width: 45px;
	}
	.section-title {
		display: flex;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 18%;
	}
	.section-title h1 {
		margin-right: 0;
		text-align: center;
	}
	.section-title .block-sm {
		display: block;
	}
	.col-2.col-text {
		margin: 0 auto 0 auto;
	}
	.col-4 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		width: 100%;
	}
	.col-6 {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		max-width: 100%;
	}
	.col {
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
	}
	.col-text {
		margin: 0 auto 18% auto;
		max-width: 100%;
	}
	.col-img {
		margin-bottom: 6%;
	}
	.col-img img {
		border-radius: 36px;
	}
	.about-text {
		margin-bottom: 18%;
	}
	/* Object Section (Sorted by A-Z) */
	.line {
		margin-left: auto;
		margin-right: auto;
	}
}
@media only screen and (max-width: 767.98px) {
	/* Adjust style for medium screen layout */
	/* HTML Tag (Sorted by A-Z) */
	/* Home Section (Sorted by Used First) */
	#home-main {
		margin: 24% 0;
	}
	#home-main h1 {
		margin-bottom: 12%;
	}
	/* Portfolio Section (Sorted by Used First) */
	/* About Section (Sorted by Used First) */
	/* Contact Section (Sorted by Used First) */
	#contact {
		padding: 8% 4%;
	}
	#contact .section-title {
		margin-bottom: 12%;
	}
	#contact #contact-main h2 {
		font-size: 26px;
	}
	#contact #contact-main .col-text {
		margin-bottom: 12%;
	}
	/* CSS Class (Sorted by A-Z) */
	.links {
		display: block;
	}
	.links .cta {
		width: 100%;
		margin-bottom: 12%;
	}
	.links .social-media-cta {
		display: flex;
		justify-content: space-between;
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}
	.row {
		margin: 24% 0;
	}
	.col-img img {
		border-radius: 16px;
	}
	.col-text h2 {
		font-size: 38px;
	}
	.col-text h3 {
		font-size: 26px;
	}
	.col-text p,
	footer {
		font-size: 20px;
	}
	.section-title {
		margin-bottom: 24%;
	}
}
@media only screen and (max-width: 575.98px) {
	/* Adjust style for small/mobile screen layout */
	/* HTML Tag (Sorted by A-Z) */
	nav h2 {
		font-size: 20px;
	}
	section {
		padding: 24% 6%;
	}
	/* Home Section (Sorted by Used First) */
	#home {
		padding: 18% 10%;
	}
	#home-main {
		margin: 24% auto;
	}
	#home-main h1 {
		font-size: 56px;
		line-height: 64px;
		margin-bottom: 24%;
	}
	/* About Section (Sorted by Used First) */

	/* Contact Section (Sorted by Used First) */
	#contact {
		padding-bottom: 12%;
	}
	#contact .section-title {
		padding-top: 12%;
	}
	#contact #contact-main h2 {
		font-size: 22px;
		margin-bottom: 6px;
	}
	/* CSS Class (Sorted by A-Z) */
	.container {
		margin-left: 6%;
		margin-right: 6%;
	}
	.col-img img {
		border-radius: 12px;
		margin-bottom: 12px;
	}
	.col-text h2 {
		margin-bottom: 24px;
		font-size: 32px;
		line-height: 40px;
	}
	.col-text h3 {
		margin-bottom: 12px;
		font-size: 20px;
	}
	.col-text p,
	footer {
		font-size: 16px;
		color: var(--secondary);
	}
	.cta {
		height: 60px;
		border-radius: 16px;
	}
	.cta .cta-with-icon p {
		font-size: 22px;
	}
	.cta .cta-with-icon svg {
		height: 24px;
	}
	.links {
		width: 100%;
	}
	.links .links-icon svg {
		height: 40px;
		width: 40px;
	}
	.other-links {
		margin-top: -48px;
		font-size: 14px;
		font-weight: 500;
		border-radius: 36px;
		padding: 12px 24px;
	}
	.section-title h1 {
		font-size: 28px;
	}
}
