@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--blue-primary: #007aff;
		--blue-secondary: rgba(0, 122, 255, 0.8);
		--black-primary: #111;
		--black-secondary: #4c4c4c;
		--black-bg: #1f1f22;
		--white-primary: #fbf8f6;
		--white-secondary: #dcdcdc;
		--green: #1cb07c;
	}
}

body {
	min-width: 340px;
	scroll-behavior: smooth;
}

body,
a {
	transition: 300ms;
}

a:hover {
	color: var(--blue-primary);
}

#blog-page h2 {
	font-weight: 700;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

#blog-page h4 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

#blog-page .section-content p,
#blog-page ul {
	font-size: 0.75rem;
	line-height: 1rem;
	margin-bottom: 2rem;
	color: var(--black-secondary);
}

#blog-page ul {
	list-style-type: disc;
	list-style-position: unset;
}

#blog-page img {
	margin-left: 0;
	margin-right: 0;
}

html.dark #blog-page .section-content p {
	color: var(--white-secondary);
}

#hamburger:hover .hamburger-1,
#hamburger:hover .hamburger-2 {
	background: var(--black-primary);
}

html.dark #hamburger:hover .hamburger-1,
html.dark #hamburger:hover .hamburger-2 {
	background: var(--white-primary);
}

#hero-text b,
.section-title p b {
	color: var(--white-primary);
	text-shadow: -1px -1px 0 #111, 1px -1px 0 #111, -1px 1px 0 #111,
		1px 1px 0 #111;
	-webkit-text-stroke: 1px var(--black-primary);
}

html.dark #hero-text b,
html.dark .section-title p b {
	color: var(--black-bg);
	text-shadow: -1px -1px 0 #fbf8f6, 1px -1px 0 #fbf8f6, -1px 1px 0 #fbf8f6,
		1px 1px 0 #fbf8f6;
	-webkit-text-stroke: 1px var(--white-primary);
}

#profile-base,
#profile-triangle,
#profile-circle {
	transition: 300ms;
}

.swiper-pagination {
	display: flex;
	justify-content: left;
}

.swiper-pagination-bullet {
	background: var(--black-secondary);
}

html.dark .swiper-pagination-bullet {
	background: var(--white-secondary);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: var(--black-primary);
}

html.dark .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: var(--white-primary);
}

.service-content {
	position: relative;
	width: auto;
	overflow: hidden;
}

.service-content .service-text {
	position: absolute;
	top: 0;
	left: 0;
}

.service-content .service-img {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	filter: brightness(0.25);
	transition: all 500ms;
}

.service-content:hover .service-img {
	transform: scale(1.2);
}

#service-1 .service-img {
	background-image: url(../../public/assets/about/service-1.jpg);
}

#service-2 .service-img {
	background-image: url(../../public/assets/about/service-2.jpg);
}

#service-3 .service-img {
	background-image: url(../../public/assets/about/service-3.jpg);
	filter: brightness(0.5);
}

.hamburger-1 {
	width: 36px;
	height: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
}

.hamburger-2 {
	width: 24px;
	height: 5px;
	margin-left: auto;
	border-radius: 4px;
}

.line {
	width: 50px;
	height: 4px;
	border-radius: 15px;
}

.carousel .swiper {
	overflow: visible;
}

.swiper-slide div {
	border-radius: 24px;
}
.swiper-slide div.right {
	padding-bottom: 24px;
}

.swiper-button-prev:after {
	padding: 16px 18px 16px 16px;
	margin-left: -48px;
}

.swiper-button-next:after {
	padding: 16px 16px 16px 18px;
	margin-right: -48px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
	margin-top: -284px;
	background-color: var(--blue-primary);
	color: var(--white-primary);
	border-radius: 48px;
	height: 24px;
	width: 24px;
	justify-content: center;
	align-items: center;
	font-size: 16px !important;
	display: flex;
	z-index: 3;
}

.skeleton {
	animation: skeletonLoading 1s infinite;
}

@keyframes skeletonLoading {
	0% {
		background-color: hsl(200, 20%, 95%);
	}
	50% {
		background-color: hsl(200, 20%, 90%);
	}
	100% {
		background-color: hsl(200, 20%, 95%);
	}
}

@media (min-width: 640px) {
	#blog-page h2 {
		font-size: 2.25rem;
		line-height: 2.5rem;
		margin-bottom: 0.5rem;
	}

	#blog-page h4 {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	#blog-page .section-content p,
	#blog-page ul {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}

	.swiper-button-prev:after {
		padding-left: 18px;
		padding-right: 24px;
	}

	.swiper-button-next:after {
		padding-left: 24px;
		padding-right: 18px;
	}

	.swiper-button-prev:after,
	.swiper-button-next:after {
		margin-top: -264px;
		height: 48px;
		width: 48px;
		font-size: 24px !important;
	}
}
